.calibri{
	font-family: calibri !important;
}
.corbel{
	font-family: corbel !important;
}
.cambria{
	font-family: cambria !important;
}
.aharoni{
	font-family: aharoni !important;
}
.agency{
	font-family: Agency FB !important;
}
.adobe-gothic{
	font-family: Adobe Gothic Std B !important;
}
.adobe-fan{
	font-family: Adobe Fan Heiti Std B !important;
}
.alien{
	font-family: Alien League !important;
}
.alien2{
	font-family: Alien League II Bold !important;
}
.narrow{
	font-family: Arial Narrow !important;
}
.brandon{
	font-family: Brandon Grotesque Light !important;
}
.browalia{
	font-family: BrowalliaUPC !important;
}
.calibri-light{
	font-family: Calibri Light !important;
}
.century{
	font-family: Century Gothic !important;
}
.dotum{
	font-family: DotumChe !important;
}
.engra{
	font-family: EngraversGothic BT !important;
}
.frank{
	font-family: FrankRuehl !important;
}
.gautami{
	font-family: Gautami !important;
}
.kaiti{
	font-family: KaiTi !important;
}
.kalinga{
	font-family: Kalinga !important;
}