*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #E6EFF2;
}
ul,a,li,input,textarea{
	list-style: none;
	text-decoration: none;
	outline: 0px;
}
button:focus{
	outline: 0px;
	border: none;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
.elegant-red{
	background: #E24F4F;
}
.elegant-red:hover{
	background: #D44444;
}
/*header*/
.navbar{
	min-height: 60px;
}
.navbar-brand{
	padding: 20px 15px;
}
.navbar-custom{
	background:#E24F4F;
}
.navbar-brand{
	color: #fff !important;
}
.navbar-brand:hover{
	color: #fff !important;
}
.navbar-default .navbar-nav>li{
	transition: background 0.3s;
}
.navbar-default .navbar-nav>li:hover{
	background:#D63D3D ;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}
.header-list{
	float: right;
}

/*Content*/

/*Slide*/
.slide-box{
	height: 100px;
	width: 1150px;
	margin: auto;
	overflow: hidden;
}
.slide-box ul{
	left:0px;
	width: 4600px;
	list-style: none;
	position: relative;
}
.slide-box ul li{
	position: relative;
	float: left;
	height: 100px;
	width: 1150px;
}
.slide-box ul li a img{
	width: 1150px;
	height: 100px;
}


.story-page{
	color: #928787;
	font-weight: 100;
	font-size: 15px;
	font:inherit;
	vertical-align: baseline;
}
.story-page b{
	font-weight: 100;
}
.story-page:hover{
	color: #756D6D;
	text-decoration: none;
}
.col-search{
	float: right;
}
.form-search{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.input-search{
	width: 50%;
	height: 100%;
	font-size: 15px;
	padding-left: 14px;
	color: #BFBBBB;
	font-weight: 100;
	border:1px solid  #E2DEDE;
	border-right:1px solid rgba(0,0,0,0);
	float: left;
	transition:padding-left 0.2s;
}
.input-search:focus{
	border: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid  #E2DEDE;
	padding-left: 5px;
}

/*Select Picker*/
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 40%;
	float: left;
	height: 100%;
}
.btn-default{
	height: 100%;
	color: #BFBBBB;
	border: 1px solid #E2DEDE;
}
.btn{
	border-radius: 0px;
}

/*~~~~~~~~~~~~~~~*/
.btn-search{
	width: 10%;
	height: 100%;
	border: 1px solid #E0DEDE;
	background: #fff;
	color:#BFBBBB;
	transition: background 0.3s, border-left 0.3s;
	float: left;
	outline: 0px;
	text-align: center;
}
.btn-search:hover{
	color: #fff;
	background:#E24F4F;
	border: 1px solid rgba(0,0,0,0);
}
.btn-search:focus{
	outline: 0px;
}

/*Sidebar*/
.create-thread{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border:none;
	color: #fff;
	transition: background 0.3s;
	font-size: 14px;
}
.slize-top-side{
	width: 100%;
	height: 2px;
	background: #E24F4F;
}
.its-sidebar{
	width: 100%;
	height: auto;
}
.its-sidebar a{
	text-decoration: none;
}
.title-sidebar{
	width: 90%;
	height: auto;
	border-left: 5px solid #E24F4F;
	border-bottom: 2px solid #E24F4F;
	color: #E24F4F;
}
.sidebar-list{
	width: 90%;
	height: auto;
	border-left:1px solid #E24F4F;
	border-bottom: 1px solid #E24F4F;
	transition: border-left 0.3s;
}
.sidebar-list:hover{
	border-left: 10px solid #E24F4F;
}


/*Index Content*/
.main-content{
	width: 100%;
	height: auto;
	border-radius: 3px;
}
.index-content{
	float: right;
}
.information{
	width: 100%;
	height: auto;
	background: #E24F4F;
	text-align:center; 
	color: #fff;
	border-radius: 3px 3px 0px 0px;
}
.title-threads{
	width: 100%;
	height: auto;
	border-left: 5px solid #e24f4f;
}
.list-threads{
	width: 100%;
	height: auto;
	border-left: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid #E24F4F;
	color: #333;
	background: #fff;
	transition: background 0.3s, border-left 0.3s;
}
.list-threads:hover{
	background: #E8E0E0;
	border-left:5px solid #E24F4F;
}
.threads-index{
	width: 90%;
	margin: 0px 10px;
}
.list-threads:hover>.col-md-2{
	border-left: 1px solid #B5AEAE;
}
.main-threads{
	font-size: 13px;
	font-weight: 600;
}
.list-threads .col-md-1{
	background: rgba(0,0,0,0);
}
.list-threads:hover>.col-md-1{
	background: #E24F4F;
	color: #fff;
}
.index-news-box{
	width: 100%;
	height: 300px;
	border: 1px solid #000;
	margin-bottom: 20px;
}





/*Threads Discussion Room*/
.quote-box{
	width: 98%;
	height: auto;
	border: 1px solid #E24F4F;
	float: left;
	margin: 5px 1%;
	border-radius: 5px 5px 0px 0px;
}
.quote-box .col-md-3{
	text-align: center;
}
.quote-box .col-md-3 img{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	margin-top: 10px;
}


/* Main News Box*/
.list-news{
	width: 100%;
	height: auto;
	border-left: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid #E24F4F;
	color: #333;
	background: #fff;
	margin-bottom: 5px;
}
.look-news{
	float: left;
	width: auto;
	height: auto;
	border: 1px solid #E24F4F;
	position: absolute;
	margin-top: 10px;
	color: #E24F4F;
	border-radius: 3px;
	transition: background 0.3s, color 0.3s;
}
.look-news h5{
	margin: 10px 20px;
	font-weight: 300 !important;
}
.look-news:hover{
	background: #E24F4F;
	color: #fff;
}
.add-comments{
	min-width: 80%;
	max-width:100%;
	min-height: 80px;
	max-height: 100px;
	border: 1px solid #EFC3C3;
	border-radius: 5px;
	resize: none;
	padding: 5px 10px;
	font-size: 13px;
	color: #948F8F;
}
.btn-add-cmt{
	padding: 10px 15px;
	color: #fff;
	border: none;
	border-radius: 3px;
}

/*Profil*/
.slize-prof{
	width:100%;
	height: 1px;
	background: #D4CDCD;
	margin-top: 10px;
	margin-bottom: 10px;
}
.social-box{
	width: 20%;
	height: 40px;
	float:left;
	text-align: center;
	border-bottom:5px solid rgba(0,0,0,0);
	transition: border-bottom 0.3s;
}
.social-box i{
	padding-top: 5px;
	color: #B1A7A7;
	transition: color 0.3s;
}
.social-box:hover{
	border-bottom: 5px solid #e24f4f;
}
.social-box:hover> i{
	color: #e24f4f;
}
.list-profil{
	width: 100%;
	height: auto;
	border-bottom: 1px solid #d4cdcd;
	overflow: hidden;
}
.list-profil h5{
	padding-left:5px;
	color: #B7AEAE;
}
.list-profil h6{
	color: #B7AEAE;
}
.list-profil h6 a{
	color: #b7aeae;
}
.list-profil h6 a:hover{
	color: #867E7E;
	text-decoration: none;
}
.list-prof-edit{
	min-width: 170px;
	min-height: 70px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 13px;
	background: rgba(0,0,0,0);
	border: 1px solid #d4cdcd;
	border-radius: 3px;
	color: #b7aeae;
}
.list-prof-edit:hover{
	color: #7B7676;
}
.list-prof-edit:focus{
	border: 1px solid #d3cdcd;
	color: #b7aeae;
}

/* Slide News*/
.news-slide-box{
	width:100%;
	height: 250px;

}
.news-slide{
	width: 700px;
	height: 250px;
	margin: auto;
	overflow: hidden;

}
button.prev, button.next {
 position: absolute;
 margin:105px 20px;
 font-size: 30px;
 border: none;
 background:none;
 color: #C1B6B6;
 z-index: 999;
 display: block;
 cursor: pointer;
}
button.next{
	margin-left:758px;
}
button.prev:hover, button.next:hover {
	color: #887F7F;
}
.ns{
	display: block;
	width: 0px;
	float: left;
	-webkit-transition:0.75s;
	-moz-transition:0.75s;
	-o-transition:0.75s;
	transition: 0.75s;
	background:#fff;
}
.ns-box{
	width: 700px;
	height: 250px;
	background: #fff;
}
.ns-h{
	height: 250px;
	background:#fff;
}
.ns-h img{
	width: 200px;
	height: 200px;
	border-radius: 3px;
	margin-top: 25px;
}
.ns-h h4{
	padding-top: 15px;
}
/* Footer */
.footer{
	text-align: center;
}
















/* Media Size*/
@media(max-width: 1200px){
	.index-news-box .nav-control{
		display: none;
	}
}
@media(min-width: 1200px){
	.navbar-nav>li>a{
		padding-top: 20px;
	}
}
@media(max-width:1200px){
	.header-list{
		float: left;
	}
	.col-search{
		float: left;
	}
	.class-list{
		margin: 20px -120px;
	}
	.create-thread{
		font-size: 10px;
	}
	.index-content{
		float: left;
		margin-top: 30px;
	}
	.list-threads:hover>.col-md-2{
	border-left: 0px;
	}
	.threads-index{
		width: 100%;
		margin: 0px;
	}
	.index-news-box{
		height: 200px;
	}
	/*.nav-control{
		margin-top: 80px;
		width: 30px;
		height: 30px;
	}
	.nc-2{
		margin-left: 168px;
	}*/
}