/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}




/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color:rgb(50,50,50);
    color:rgb(150,150,150);
    font-family: 'Quattrocento', serif;
    font-size:16px;
    line-height:1.5;   
}

input,
label,
textarea {
    color:rgb(150,150,150);
    font-family: 'Quattrocento', serif;
    font-size:16px;
}


/* Headings */
h1,h2,h3,h4,h5,h6 {
	line-height:1;
}

a {
    text-decoration:none;
    color:rgb(255,150,100);
}

a:hover {
    color:rgb(100,150,200);
}



/* =Template
-------------------------------------------------------------- */
#wrapper {
    min-width:1024px;
    margin:0 auto;
}

#main {
    background-color:#fff;
}

.container {
    width:1024px;
    margin:0 auto;
    padding:48px 0;
}

h1 {
    font-weight:700;
    margin-bottom:12px;
}

p {
    margin-bottom:18px;
}


/* =Header
-------------------------------------------------------------- */
header {
    background-color:#fff;
}

#logo {
    width:60px;
    height:60px;
    float:left;
}

#title {
    width:900px;
    height:60px;
    float:right;
}

#title h1 {
    text-align:right;
    line-height:36px;
    font-weight:300;
    font-size:24px;
    margin:0;
}

#title span {
    display:block;
    text-align:right;
    line-height:24px;
}

#title span a {
    color:rgb(100,150,200);
}

#title span a:hover,
#title span a:active,
#title span a:focus {
    color:rgb(150,150,150);
}




/* =Footer
-------------------------------------------------------------- */
footer {

}




/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}